    .titulo{
        font-size: 15px;
        color: black;
        padding-left: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 14px !important;
    }
    
    
    .final{
        font-size: 14px;
        color: rgb(136, 136, 136);
        margin: 2px;
        justify-content: center;
        text-align: center;
        text-justify: center;

    }

    .final2{
        font-size: 10px;
        color: rgb(136, 136, 136);
        margin: 2px;
        justify-content: center;
        text-justify: center;
        text-align: center;


    }
