<ion-header>
  <ion-toolbar>
    <ion-title>
      Gastos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card padding>
    <ion-card-header>Balanço final:</ion-card-header>
    <ion-item no-line>
      <ion-avatar>
        <img *ngIf="comprasList[0]['soma'] < 0 " src="https://github.com/jvximenez/daniellen/blob/gh-pages/assets/imgs/JvPerfil.jpg?raw=true">
        <img *ngIf="comprasList[0]['soma'] > 0 " src="https://github.com/jvximenez/daniellen/blob/gh-pages/assets/imgs/DaniPerfil.jpg?raw=true">
      </ion-avatar>
      <h2 padding>Devendo {{Arredondar(comprasList[0]['soma'],2)}}</h2>
    </ion-item>

  </ion-card>


  <ion-list>
    <ion-item *ngFor="let div of comprasList">
      <ion-avatar>
        <img *ngIf="div['payload'] > 0" src="https://github.com/jvximenez/daniellen/blob/gh-pages/assets/imgs/JvPerfil.jpg?raw=true">
        <img *ngIf="div['payload'] < 0" src="https://github.com/jvximenez/daniellen/blob/gh-pages/assets/imgs/DaniPerfil.jpg?raw=true">
      </ion-avatar>
      <h2 class='titulo' no-padding >{{div.title}} <br> {{div.pagamento}} - {{TotalToDate(div.total)}}  </h2>
      <ion-note slot="end"><p class='final'>{{Arredondar(div.payload,2)}} </p>
        <p class='final2'>{{Arredondar(div.soma,2)}}</p>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
